/* Global general param
-------------------------------------------------- */
/* components */

*{
  margin:0;padding:0;    
}

html,body{
  height:100%;
  width:100%;
}

body {
  display:table;
  background-color: #eee;
  font-family: 'Open Sans',sans-serif;
}

.container {
 max-width: 680px;
}

.text-muted {
  margin: 20px 0;
}
.text-muted a{
  text-decoration: none;
  color: #999999;
}

@media (max-width: 480px) {
   .mapdiv_wrapper{

        height: 70%;

  }
  
}
 /* Landscape phones and portrait tablets and more */
@media (min-width: 480px) {
.mapdiv_wrapper{
height: 450px;

 }

}


input[type='text'],input[type='number'],textarea,select {font-size:16px;}